#container{
    border-radius:3px;
    background:white;
    position:relative;
    top:60px;
    margin-top:10px;
    margin-bottom:100px;
    padding-top:20px;
    padding-bottom:20px;
    width:500px;
}

body{
    background-color:lightGrey;
    font-family: 'Averia Gruesa Libre',cursive;
    border-top:thick solid #28597a;
    margin:0px;
}

img{
    border-radius:3px;
    margin-bottom: 20px;
}

h1{

    font-family: 'Averia Gruesa Libre',cursive;
    font-size:50px;
    padding:0px;
    margin:0px;
    position:relative;
    top:50px;
}

h2{
    font-size:30px;
    margin-top:20px;
    margin-bottom:5px;
}

.button{
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 7px 20px;
   -webkit-border-radius: 1px;
   -moz-border-radius: 1px;
   border-radius: 1px;
   color: white;
   font-size: 13px;
   font-family: 'Averia Gruesa Libre', Serif;
   text-decoration: none;
   vertical-align: middle;
   position:relative;
   left:20px;
   border-radius:3px;
    width:100px;
    height:30px;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}
