h1{
    font-family: 'Averia Gruesa Libre', sans-serif;
    margin:0px;
}

input{
    font-family: 'Averia Gruesa Libre', sans-serif;
}


#container{
    position:relative;
    top:150px;
}

#mainTitle{
    font-size:50px;
}

#uploadCode{
    position:relative;
    right:120px;
    font-size:20px;
}

.button{
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 7px 20px;
   -webkit-border-radius: 1px;
   -moz-border-radius: 1px;
   border-radius: 1px;
   color: white;
   font-size: 13px;
   font-family: 'Averia Gruesa Libre', Serif;
   text-decoration: none;
   vertical-align: middle;
   position:relative;
   left:50px; 
   border-radius:3px;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
} 

#userButton{
    position:relative;
    right:60px;
}

body{
    background:lightGrey;
    border-top:thick solid #28597a;
    margin:0px;

}

img{ 
    position:relative;
    left:400px;
    top:150px;
    width:250px;
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
}
